#header {border-bottom:1px solid #e7e7e7;}
#header h1 {margin:40px 0 20px 0; padding:0px 0;}
#header h1 {color:#008;}

#body-top h2 {padding:20px 0; margin:10px 0 40px 0; border-bottom:1px solid #ccc;}

#footer {margin-top:80px; border-top:1px solid #ccc; padding:10px 0;}
#footer {color:#aaa;}